aside {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*height: calc(100vh - 3.5rem);*/
    /*max-height: calc(100vh - 3.5rem);*/
    overflow: auto;
    height: 100%;
    /*background-color: #303030;*/
    /*box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 2px 0 2px 0 rgba(0, 0, 0, 0.24);*/
    /*border-right: solid 1px rgba(0, 0, 0, 0.125);*/
}

.nav {
    height: inherit;
}

.nav-link {
    color: white;
    transition: 0.15s;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

/*.btn {
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
}*/
