<main>
  <div class="container">
    <form class="form">
      <div class="input-field" style="position: relative;">
        <input id="username" class="input" type="text" placeholder=" "/>
        <label for="username" class="internal-label">Username</label>
      </div>
      <div class="input-field" style="position: relative;">
        <input id="password" class="input" type="password" placeholder=" "/>
        <label for="password" class="internal-label">Password</label>
      </div>
      <input class="btn full-rounded shadow h-align-center" type="submit" value="Login" (click)="login($event)"/>
    </form>
  </div>
</main>
