<div class="d-flex flex-column h-100">
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" routerLink="admin"><i class="material-icons">dashboard</i></a>
      <div class="">
        <ul class="navbar-nav">
          <li *ngIf="isConnected()" class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="d-flex flex-grow-1">
    <app-server-selector></app-server-selector>
    <router-outlet></router-outlet>
  </div>
</div>


