<div class="row">
  <aside class="scrollbar">
    <div class="col">
      <a class="btn">TS</a>
      <a class="btn">TS</a>
      <a class="btn">TS</a>
      <a class="btn">TS</a>
      <a class="btn">TS</a>
      <a class="btn">TS</a>
      <a class="btn">TS</a>
      <a class="btn">TS</a>
      <a class="btn">TS</a>
      <a class="btn">TS</a>
      <a class="btn">TS</a>
      <a class="btn">TS</a>
      <a class="btn">TS</a>
      <a class="btn">TS</a>
      <a class="btn">TS</a>
    </div>
  </aside>
  <main class="main scrollbar">
    <div class="container">
      <div class="block shadow much-rounded">
        <h1>Teamspeak</h1>
        <div>
          <button class="btn full-rounded">Start</button>
          <button class="btn full-rounded">Stop</button>
          <button class="btn full-rounded">Restart</button>
        </div>
      </div>
      <div class="block shadow much-rounded">
        <h1>Teamspeak</h1>
        <div>
          <button class="btn full-rounded">Start</button>
          <button class="btn full-rounded">Stop</button>
          <button class="btn full-rounded">Restart</button>
        </div>
      </div>
      <div class="block shadow much-rounded">
        <h1>Teamspeak</h1>
        <div>
          <button class="btn full-rounded">Start</button>
          <button class="btn full-rounded">Stop</button>
          <button class="btn full-rounded">Restart</button>
        </div>
      </div>
    </div>
  </main>
</div>

