<main class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card much-rounded">
        <div class="card-body">
          <h1 class="card-title">Teamspeak</h1>
          <div class="text-center">
            <button class="btn btn-dark rounded-pill material" (click)="startTS($event)">Start</button>
            <button class="btn btn-dark rounded-pill material" (click)="stopTS($event)">Stop</button>
            <button class="btn btn-dark rounded-pill material" (click)="restartTS($event)">Restart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
