<div class="row">
  <app-server-selector></app-server-selector>
  <main class="main scrollbar">
    <div class="container">
      <div class="block shadow much-rounded">
        <h1>Teamspeak</h1>
        <div>

        </div>
        <div>
          <button class="btn full-rounded" (click)="startTS($event)">Start</button>
          <button class="btn full-rounded" (click)="stopTS($event)">Stop</button>
          <button class="btn full-rounded" (click)="restartTS($event)">Restart</button>
        </div>
      </div>
    </div>
  </main>
</div>
