app-server-selector {
    align-self: stretch;
    width: 20%;
}

body {
    height: 100vh;
}

h1 {
    font-size: 0.1rem;
}

.main {
    max-height: calc(100vh - 3.5rem);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.main {
    margin: 0;
    box-sizing: border-box;
}

.block {
    padding: 1rem;
}

a {
    cursor: pointer;
}

app-login, app-admin, app-teamspeak-panel, app-factorio-panel {
    flex-grow: 1;
}

app-server-selector {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 2px 0 2px 0 rgba(0, 0, 0, 0.24) !important;
}

.navbar {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24) !important;
}

