<main class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Factorio</h1>
          <div class="card-text">
            <form #form="ngForm" (ngSubmit)="startFactorio(form, $event)">
              <div class="form-group">
                <select class="form-control" name="creationSelect" [(ngModel)]="data.creationSelect">
                  <option *ngFor="let save of factorioSaves">{{save}}</option>
                </select>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-dark rounded-pill material">Start</button>
                <button class="btn btn-dark rounded-pill material" (click)="stopFactorio($event)">Stop</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
