<div class="row">
  <app-server-selector></app-server-selector>
  <main class="main scrollbar">
    <div class="container">
      <div class="block shadow much-rounded">
        <h1>Factorio</h1>
        <form #form="ngForm" (ngSubmit)="startFactorio(form, $event)">
          <div>
            <select #creationSelect name="creationSelect" [(ngModel)]="data.creationSelect">
              <option *ngFor="let save of factorioSaves">{{save}}</option>
            </select>
          </div>
          <div>
            <button type="submit" class="btn full-rounded">Start</button>
          </div>
        </form>
      </div>
      <div class="block shadow much-rounded">
        <h1>Factorio</h1>
        <div>
          <select>
            <option *ngFor="let save of factorioSaves" value="{{save}}">{{save}}</option>
          </select>
        </div>
        <div>
          <button class="btn full-rounded" (click)="stopFactorio($event)">Stop</button>
        </div>
      </div>
    </div>
  </main>
</div>
